body {
	font-family: "Poppins";
    padding: 0;
}

h1 {
    text-align: center;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    gap: 10px;
    /* height: 623px; */
    height: 85vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    gap: 20px;
}

#question {
    resize:none;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
}

#question:focus {
    outline: none;
    border: 1px solid rgb(196, 196, 196);
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    flex: 1 1 50%;
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

#answer {
    height: 100%;
    width: 50%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background-color: azure;
    border-radius: 5px;
    overflow: auto;
}

#downloadText {
    margin-top: 20px;
}